{% extends "base.html" %}
{% block content %}
<section class="contact-section">
    <h1>Get In Touch</h1>
    <p>We value your feedback! Please take a moment to share your thoughts and help us make the conferences even better experience for you.</p>

    <div class="contact-container">
        <!-- Contact Form -->
        <div class="contact-form">
            <form method="POST">
                <input type="text" name="name" placeholder="Name" required,>
                <input type="email" name="email" placeholder="Email" required>
                <input type="text" name="number" placeholder="Number" required>
                <input type="text" name="subject" placeholder="Subject" required>
                <textarea name="message" placeholder="Message" required></textarea>
                <button type="submit" class="contact-button">Send Message</button>
            </form>
        </div>

        <!-- Contact Info -->
        <div class="contact-info">
            <div class="iinfo">
                <i class="fas fa-phone-alt" style="color: white;"></i>
                <span>+234-906-296-4972</span>
            </div>
            <div>
                <i class="fas fa-envelope" style="color: white;"></i>
                <span>customerservice.ng@lafarge.com<br>www.lafarge.com.ng</span>
            </div>
            <div class="iinfo2">
                <div >
                <i class="fas fa-map-marker-alt" style="color: white;"></i>
                <span>27B Gerrard road,<br>Ikoyi, Lagos</span>
            </div>
        </div>
    </div>
</section>
{% endblock %}