{% extends "base.html" %}
{% block content %}
<div class="gallery-container">
    {% for image in images %}
    <div class="image-wrapper" onclick="openImage('{{ url_for('static', filename='conference2024/' + image) }}')">
        <img src="{{ url_for('static', filename='conference2024/' + image) }}" alt="{{ image }}">
    </div>
    {% endfor %}
</div>

<div id="image-modal" class="modal">
    <span class="close" onclick="closeImage()">&times;</span>
    <img id="modal-content" class="modal-content">
</div>

<script>
function openImage(src) {
    const modal = document.getElementById('image-modal');
    const modalImg = document.getElementById('modal-content');
    modal.style.display = 'block';
    modalImg.src = src;
}

function closeImage() {
    const modal = document.getElementById('image-modal');
    modal.style.display = 'none';
}
</script>
{% endblock %}
