{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Seating Arrangement</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                {% for col in seating_data[0].keys() %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in seating_data %}
            <tr>
                {% for value in row.values() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}