{% extends 'base.html' %}

{% block title %}{{ speaker.name if speaker else 'Search Speaker' }} - {% endblock %}

{% block content %}
<section class="speaker-details">
    <div class="container">
        <!-- Search Bar -->
        <!-- <form method="get" action="/search" class="search-form" style="background-color: red;">
            <input type="text" name="query" placeholder="Search for a speaker by name" value="{{ query if query else '' }}">
            <button type="submit">Search</button>
        </form> -->

        <h2 class="section-title">Profile</h2>
        <div class="profile-layout">
            {% if speaker %}
                <!-- Speaker Image and Name -->
                <div class="left-section">
                    <div class="image-wrapper">
                        <img src="{{ speaker['image_url'] }}" alt="{{ speaker.name }}">
                    </div>
                    <h1 class="speaker-name">{{ speaker.name }}</h1>
                </div>

                <!-- Speaker Bio -->
                <div class="right-section">
                    <p class="bio-title"><strong>Bio:</strong></p>
                    <p class="bio-text">{{ speaker.bio }}</p>
                </div>
            {% else %}
                <p>No results found. Please try searching for another name.</p>
            {% endif %}
        </div>
    </div>
</section>

<style>
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .section-title {
        font-size: 1.5rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .search-form {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .search-form input[type="text"] {
        width: 50%;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
    }

    .search-form button {
        padding: 10px 20px;
        font-size: 1rem;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .search-form button:hover {
        background-color: #0056b3;
    }

    .profile-layout {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Default to 1 column */
        gap: 20px;
        padding: 20px;
    }

    @media (min-width: 820px) {
        .profile-layout {
            grid-template-columns: repeat(2, 1fr); 
        }
    }
</style>

{% endblock %}
